* {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.calcLocation {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: calc(5%);
    overflow: hidden;
    border-radius: 7%;
}

#display {
    display: flex;
    width: calc(80%);
    height: calc(60%);
    outline: none;
    text-align: right;
    cursor: text;
    font-size: xx-large;
    background-color: rgb(64, 64, 64);
    color: white;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.menupad {
    width: calc(80%);
    height: calc(60%);
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: calc(100%/4);
    height: calc(100%/4);
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(64, 64, 64);
    color: whitesmoke;
    font-family: sans-serif;
    font-size: larger;
}

#operate {
    background-color: rgba(245, 245, 245, 0.541);
    color: black;
    font-weight: bolder;
}